{% extends "landing/secundarias/secundaria.html" %}


{% block titulo_secundaria %}
    Profesor Particular
{% endblock titulo_secundaria %}

{% block descripcion_secundaria %}
    <p>Si tu hijo ha tenido la mala suerte de tocarle ese profesor que, aun poseyendo un profundo conocimiento de su materia no es capaz de trasmitirla, un profesor particular de refuerzo puede ser una buena opción. Un buen profesor particular permite resolver dudas, centrar el esfuerzo en determinadas áreas que cuestan más trabajo, ayudar al alumno a recuperar la motivación y rendir con mayor eficacia en los exámenes.</p>
    <p>Es además una opción muy buena y efectiva para aprender un idioma ya que la atención personalizada en estos casos es aun más importante.</p>
    <p>Muy probablemente tengamos en nuestra base de datos al profesor que necesitas: serio, motivador, con conocimiento de la materia y con experiencia previa dando clases.</p> 
    {% include 'landing/secundarias/pasos.html' %}
{% endblock descripcion_secundaria %}
