{% extends "landing/secundarias/secundaria.html" %}
{% load staticfiles %}

{% block titulo_secundaria %}
    Hogar y Limpieza
{% endblock titulo_secundaria %}

{% block slider %}
<header class="intro-header">
    <img class="img-responsive home-slide" src="{% static 'img/cabeceras/servicios-y-clientes.jpg' %}" alt="Ofrecer servicio">
</header>
{% endblock slider %}

{% block descripcion_secundaria %}
    <p>Encontramos al profesional adecuado para todas tus necesidades en el ambito del hogar y la limpieza.</p>
    {% include 'landing/secundarias/pasos.html' %}
{% endblock descripcion_secundaria %}
