{% extends "landing/secundarias/secundaria.html" %}

{% block titulo_secundaria %}
    Monitor de Deportes
{% endblock titulo_secundaria %}

{% block descripcion_secundaria %}
    <p>Si necesitas un entrenador para un equipo de futbol de niños o un profesor que de clases de natación a un grupo de niños, muy probablemente tengamos en nuestra base de datos a la persona que estás buscando.</p>
    <p>La mayoría de nuestros  monitores son estudiantes de último curso de Ciencias de la Actividad Física y el Deporte por lo que gozan de la formación adecuada, empiezan ya a tener experiencia y tienen precios asequibles.</p>
    {% include 'landing/secundarias/pasos.html' %}
{% endblock descripcion_secundaria %}
