<div class="row margen-interno">
	<div class="col-xs-12 col-sm-4 col-md-3 servicio-box">
		<span class="servicio-categoria naranja">Salud y Bienestar</span>
		<span class="servicio">Fisioterapeuta</span>
		<span class="servicio">Osteópata</span>
		<span class="servicio">Masajista</span>
		<span class="servicio">Peluquería</span>
		<span class="servicio">Maquillaje</span>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 servicio-box">
		<span class="servicio-categoria naranja">Cuidado de personas</span>
		<span class="servicio">Cuidado de niños</span>
		<span class="servicio">Canguro</span>
		<span class="servicio">Cuidado de personas mayores</span>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 servicio-box">
		<span class="servicio-categoria naranja">Clases particulares</span>
		<span class="servicio">Profesor de primaria</span>
		<span class="servicio">Profesor de secundaria</span>
		<span class="servicio">Profesor de bachillerato</span>
		<span class="servicio">Profesor de informática</span>
		<span class="servicio">Profesor de inglés</span>
		<span class="servicio">Profesor de francés</span>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 servicio-box">
		<span class="servicio-categoria naranja">Deportes</span>
		<span class="servicio">Entrenador personal</span>
		<span class="servicio">Monitor de Tenis</span>
		<span class="servicio">Monitor de Pádel</span>
		<span class="servicio">Monitor de Natación</span>
		<span class="servicio">Profesor de Yoga</span>
		<span class="servicio">Profesor de Pilates</span>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 servicio-box">
		<span class="servicio-categoria naranja">Hogar y limpieza</span>
		<span class="servicio">Limpieza del Hogar</span>
		<span class="servicio">Limpieza de Oficinas</span>
		<span class="servicio">Empresa de Limpieza</span>
		<span class="servicio">Limpieza de Vehículo</span>
		<span class="servicio">Jardinero</span>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 servicio-box">
		<span class="servicio-categoria naranja">Servicios informáticos</span>
		<span class="servicio">Diseño de Páginas Web</span>
		<span class="servicio">Diseño de Logos</span>
		<span class="servicio">Instalación de Ordenadores</span>
		<span class="servicio">Reparación de Ordenadores</span>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 servicio-box">
		<span class="servicio-categoria naranja">Reparaciones y reformas</span>
		<span class="servicio">Albañil</span>
		<span class="servicio">Fontanero</span>
		<span class="servicio">Electricista</span>
		<span class="servicio">Carpintero</span>
		<span class="servicio">Pintor</span>
		<span class="servicio">Reparación Electrodomésticos</span>
		<span class="servicio">Interiorista</span>
		<span class="servicio">Aparejador</span>
		<span class="servicio">Empresa de reformas</span>
	</div>
</div>