{% extends "landing/index.html" %}

{% block buscador %}
	<span class="subheading">Formulario de Alta para Profesionales</span>
{% endblock buscador %}

{% block content %}
<div class="container">
    <div class="row">
    	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
			<p>Muchas gracias por confiar en cuiquer. En breve nos pondremos en contacto con usted para finalizar el alta en nuestro sistema. En cuanto lo hagamos, ofreceremos su teléfono a los clientes interesados</p>
		</div>
	</div>
</div>
{% endblock content %}