{% extends "landing/index.html" %}
{% load staticfiles %}

{% block slider %}
<header class="intro-header">
    <img class="img-responsive" src="{% static 'img/cabeceras/registro-profesionales.jpg' %}" alt="Ofrecer servicio">
</header>
{% endblock slider %}

{% block content %}
<div class="container">
    <div class="row">
    	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <p class="header text-uppercase naranja">¡Muchas gracias!</p>
            {{profesional}}
            <p>Muchas gracias por confiar en cuiquer. En breve nos pondremos en contacto contigo para finalizar el alta en nuestro sistema. En cuanto lo hagamos, ofreceremos tu teléfono a los clientes interesados.</p>
             <div class="row">
                <div class="col-lg-12">
                    ¿Qué servicios ofreces? (selecciona todos los que ofrezcas)
                    <ol>
                        {% for servicio in profesional.servicios.all %}
                            <li>{{servicio}}</li>
                        {% endfor %}
                    </ol>                
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    Nombre: {{profesional.usuario.nombre}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    Email: {{profesional.usuario.email}}
                </div>
                <div class="col-lg-6">
                    Teléfono: {{profesional.usuario.telefono}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    Código Postal: {{profesional.codigo_postal}}
                </div>
            </div>
            <p>¡Bienvenido y una vez más, gracias por confiar en cuiquer!</p>
		</div>
	</div>
</div>
{% endblock content %}