{% extends "landing/index.html" %}

{% block buscador %}
	<span class="subheading">Formulario de Alta para Profesionales</span>
{% endblock buscador %}

{% block content %}
<div class="container">
    <div class="row">
    	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
			<form method="post">
	    		{% csrf_token %}
			    <p>Los campos marcados con * son obligatorios. Sin ellos, no podremos dar de alta tu perfil.</p>
			    <div class="row">
			    	<div class="col-lg-12">
			    		{{form.servicio.errors}}
			    		{{form.servicio}}
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-lg-12">
			    		{{form.nombre.errors}}
			    		{{form.nombre}}
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-lg-6">
			    		{{form.dni.errors}}
			    		{{form.dni}}
			    	</div>
			    	<div class="col-lg-6">
			    		{{form.fecha_nacimiento.errors}}
			    		{{form.fecha_nacimiento}}
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-lg-6">
			    		{{form.email.errors}}
			    		{{form.email}}
			    	</div>
			    	<div class="col-lg-6">
			    		{{form.telefono.errors}}
			    		{{form.telefono}}
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-lg-6">
			    		{{form.lugar_de_residencia.errors}}
			    		{{form.lugar_de_residencia}}
			    	</div>
			    	<div class="col-lg-6">
			    		{{form.radio_prestacion.errors}}
			    		{{form.radio_prestacion}}
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-lg-6">
			    		{{form.web.errors}}
			    		{{form.web}}
			    	</div>
			    	<div class="col-lg-6">
			    		{{form.linkedin.errors}}
			    		{{form.linkedin}}
			    	</div>
			    </div>			    
			    <div class="row">
			    	<div class="col-lg-12">
			    		{{form.nombre_empresa.errors}}
			    		{{form.nombre_empresa}}
			    	</div>
			    </div>
				<h2 class="naranja">PREGUNTAS BÁSICAS</h2>
				<p>Sé creativo, habla con el corazón, explícales a tu clientes por qué deben de contratarte:</p>
				<div class="row">
			    	<div class="col-lg-12">
			    		{{form.como.errors}}
			    		{{form.como}}
			    	</div>
			    </div>
				<div class="row">
			    	<div class="col-lg-12">
			    		{{form.que.errors}}
			    		{{form.que}}
			    	</div>
			    </div>
				<div class="row">
			    	<div class="col-lg-12">
			    		{{form.experiencia.errors}}
			    		{{form.experiencia}}
			    	</div>
			    </div>
				<h2 class="naranja">PREGUNTAS ADICIONALES QUE MEJORARÁN TU PERFIL</h2>
				<div class="row">
			    	<div class="col-lg-12">
			    		{{form.consejo.errors}}
			    		{{form.consejo}}
			    	</div>
			    </div>
				<div class="row">
			    	<div class="col-lg-12">
			    		{{form.formacion.errors}}
			    		{{form.formacion}}
			    	</div>
			    </div>
				<div class="row">
			    	<div class="col-lg-12">
			    		{{form.tipo_cliente.errors}}
			    		{{form.tipo_cliente}}
			    	</div>
			    </div>
			    <button type="submit" class="btn btn-default naranja center-block">Date de alta</button>
			    
			</form>
		</div>
	</div>
</div>
{% endblock content %}