{% extends "landing/index.html" %}
{% load staticfiles %}

{% block slider %}
<header class="intro-header">
    <img class="img-responsive home-slide" src="{% static 'img/cabeceras/solicitar-servicio.jpg' %}" alt="Solicitar servicio">
</header>
{% endblock slider %}

{% block content %}
<div class="container">
    <div class="row">
    	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    		<p class="header text-uppercase naranja">¡Muchas gracias!</p>
			<p>Muchas gracias por confiar en cuiquer. En breve nos pondremos en contacto contigo para proporcionarte un listado de profesionales cualificados verificados por cuiquer</p>
		</div>
	</div>
</div>
{% endblock content %}