{% extends "landing/index.html" %}
{% load staticfiles %}
{% block slider %} {% endblock slider %}
{% block content %}
<div id="page-empresa justificado">
	<div class="imgCabecera">
		<img class="img-responsive" src="{% static 'img/cabeceras/cuiquer-empresa.jpg' %}" alt="Sobre Cuiquer">
	</div>
	<div class="container margen-externo">
		<a name="sobre"></a>
		<h1 class="naranja header">Acerca de Cuiquer</h1>
		<div class="row">
			<div class="col-xs-12 margen-interno">
				<p>Estamos en el siglo XXI y contratar a personal cualificado para llevar a cabo tus proyectos no debería ser tan complicado.</p>
				<p>CUIQUER está revolucionando la forma en que se contratan los trabajos de siempre.</p>
				<p>Somos una plataforma líder conectando personas que buscan acometer proyectos con profesionales independientes de alta calidad preseleccionados por nosotros. Desde cuidadores de niños y profesores particulares a jardineros o manitas a domicilio. Dinos que necesitas y rápidamente recibirás ofertas personalizadas de profesionales contrastados</p>
				<p>Cuiquer está formado por un equipo de profesionales apasionados por construir una solución que ayude a la gente del todo el mundo a realizar sus proyectos de forma eficiente</p>
			</div>
		</div>
	</div>
	<a name="contactanos" class="subheader"></a>
	<div>
		<div class="container margen-interno">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="naranja header">Contacta con nosotros</h2>
				</div>
				<div class="col-xs-12 col-sm-3 margen-interno caja-datos-contacto">
					<span class="contacto"><i class="naranja fa fa-envelope i-mail"></i> <a href="mailto:hello@cuiquer.com">hello@cuiquer.com</a></span>
					<span class="contacto"><i class="naranja fa fa-phone i-phone"></i><a href="tel:955278254">955 278 254</a></span>
					<span class="contacto"><i class="naranja fa fa-mobile i-mobile"></i><a href="tel:667488640"> 667 488 640</a></span>
				</div>
				<div class="col-xs-12 col-sm-9 margen-interno">
					<form method="post" class="formulario-contacto">
						{% csrf_token %}
						{{form.nombre.errors}}
						{{form.nombre}}
						{{form.email.errors}}
						{{form.email}}
						{{form.asunto.errors}}
						{{form.asunto}}
						{{form.mensaje.errors}}
						{{form.mensaje}}
						<button type="submit" class="btn btn-default naranja center-block">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
