{% extends "landing/index.html" %}
{% block slider %} {% endblock slider %}
{% block content %}
<div class="container margen-externo">
	<h2 class="naranja header ">¿Cómo encuentro trabajos con cuiquer?</h2>

	<div class="row margen-externo">
		<div class="col-xs-12">
			<h4 class="gris">1. Alta en nuestra base de datos</h4>
			<p>
				Una vez recibamos el formulario con tus datos, te damos de alta en nuestra base de datos.
			</p>
			
			<h4 class="gris">2. Te enviamos solicitudes de servicios que encajan con tu perfil</h4>
			<p>
				Los clientes vienen a cuiquer.com en busca de personas que les ayuden a acometer determinados proyectos. Nosotros evaluamos las peticiones y te enviamos las que encajan con tu perfil.
			</p>
			
			<h4 class="gris">3. Tú decides a qué solicitudes responder</h4>
			<p>
				Si estás interesado y cualificado para dar un determinado servicio, respondes a la solicitud.
			</p>
			
			<h4 class="gris">4. El cliente recibe tu oferta</h4>
			<p>
				Cuiquer envía tu perfil y tu oferta al cliente.
				
			</p>

			<h4 class="gris">5. ¡Contacto y contrato!</h4>
			<p>
				Si el cliente está interesado en tu oferta te contactará, y si sigue estando interesado, te contratará. Las condiciones de contratación y el pago por los servicios realizados quedan entre tú y tu cliente, cuiquer no interviene en esta fase.
			</p>
	</div>
	</div>

	<div class="panel panel-default col-xs-offset-2 col-xs-8 margen-externo">
  		<div class="panel-body">
    		Cuiquer está fase de lanzamiento y el servicio que ofrece es totalmente gratuito tanto para el que ofrece como para el que solicita el servicio.
  		</div>
	</div>
</div>
{% endblock content %}