<states-list>
   <div class="StatesList">
      <div class="page-grid">
         <div class="column-lg-6">
            <h2 class="StatesList-headline H2-R">Encuentranos en las 52 provincias</h2>
         </div>
         <div class="column-lg-6">
            <ul class="StatesList-list">
               <li class="B2-S"><a class="StatesList-list-link" href="#">Albacete</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Alicante/Alacant</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Almería</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Araba/Álava</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Asturias</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Ávila</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Badajoz</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Balears, Illes</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Barcelona</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Bizkaia</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Burgos</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Cáceres</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Cádiz</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Cantabria</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Castellón/Castelló</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Ciudad Real</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Córdoba</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Coruña, A</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Cuenca</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Gipuzkoa</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Girona</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Granada</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Guadalajara</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Huelva</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Huesca</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Jaén</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">León</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Lleida</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Lugo</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Madrid</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Málaga</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Murcia</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Navarra</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Ourense</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Palencia</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Palmas, Las</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Pontevedra</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Rioja, La</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Salamanca</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Santa Cruz de Tenerife</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Segovia</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Sevilla</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Soria</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Tarragona</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Teruel</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Toledo</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Valencia/València</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Valladolid</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Zamora</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Zaragoza</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Ceuta</a></li>
               <li class="B2-S"><a class="StatesList-list-link" href="#">Melilla</a></li>
            </ul>
         </div>
      </div>
   </div>
</states-list>









