{% extends "landing/index.html" %}
{% block slider %} {% endblock slider %}
{% block content %}
<div class="container margen-externo">
	<h2 class="naranja header">Todos Nuestros Servicios</h2>

	<div class="row margen-externo">
		<div class="col-xs-12">
			<p>El equipo de Cuiquer se encuentra en constante búsqueda de nuevos profesionales para hacer crecer nuestra base de datos y poder dar servicio a cada vez más personas.</p>
			<p>Para cualquier servicio que necesites en tu casa, contáctanos y nos pondremos manos a la obra de inmediato.</p>
			<p>Para ello:</p>
			<ol>
				<li>Dinos que necesitas completando este sencillo <a href="{% url 'cliente-create' %}">formulario</a>.</li>
				<li>Te llamamos para que nos des más detalles acerca de lo que estás buscando.</li>
				<li>Te enviamos por email varias opciones de forma gratuita y sin compromiso.</li>
				<li>Eliges al profesional que mejor se ajusta a tus necesidades.</li>
				<li>Y nos cuentas como te ha ido para que podemos seguir mejorando.</li>
			</ol>
		</div>
	</div>
	<div class="row margen-externo">
		<div class="col-xs-3 servicio-box">
			<span class="servicio-categoria naranja">Salud y Bienestar</span>
			<span class="servicio">Fisioterapeuta</span>
			<span class="servicio">Osteópata</span>
			<span class="servicio">Masajista</span>
			<span class="servicio">Peluquería</span>
			<span class="servicio">Maquillaje</span>
		</div>
		<div class="col-xs-3 servicio-box">
			<span class="servicio-categoria naranja">Cuidado de personas</span>
			<span class="servicio">Cuidado de niños</span>
			<span class="servicio">Canguro</span>
			<span class="servicio">Cuidado de personas mayores</span>
		</div>
		<div class="col-xs-3 servicio-box">
			<span class="servicio-categoria naranja">Clases particulares</span>
			<span class="servicio">Profesor de primaria</span>
			<span class="servicio">Profesor de secundaria</span>
			<span class="servicio">Profesor de bachillerato</span>
			<span class="servicio">Profesor de informática</span>
			<span class="servicio">Profesor de inglés</span>
			<span class="servicio">Profesor de francés</span>
		</div>
		<div class="col-xs-3 servicio-box">
			<span class="servicio-categoria naranja">Deportes</span>
			<span class="servicio">Entrenador personal</span>
			<span class="servicio">Monitor de Tenis</span>
			<span class="servicio">Monitor de Pádel</span>
			<span class="servicio">Monitor de Natación</span>
			<span class="servicio">Profesor de Yoga</span>
			<span class="servicio">Profesor de Pilates</span>
		</div>
		<div class="col-xs-3 servicio-box">
			<span class="servicio-categoria naranja">Hogar y limpieza</span>
			<span class="servicio">Limpieza del Hogar</span>
			<span class="servicio">Limpieza de Oficinas</span>
			<span class="servicio">Empresa de Limpieza</span>
			<span class="servicio">Limpieza de Vehículo</span>
			<span class="servicio">Jardinero</span>
		</div>
		<div class="col-xs-3 servicio-box">
			<span class="servicio-categoria naranja">Servicios informáticos</span>
			<span class="servicio">Diseño de Páginas Web</span>
			<span class="servicio">Diseño de Logos</span>
			<span class="servicio">Instalación de Ordenadores</span>
			<span class="servicio">Reparación de Ordenadores</span>
		</div>
		<div class="col-xs-3 servicio-box">
			<span class="servicio-categoria naranja">Reparaciones y reformas</span>
			<span class="servicio">Albañil</span>
			<span class="servicio">Fontanero</span>
			<span class="servicio">Electricista</span>
			<span class="servicio">Carpintero</span>
			<span class="servicio">Pintor</span>
			<span class="servicio">Reparación Electrodomésticos</span>
			<span class="servicio">Interiorista</span>
			<span class="servicio">Aparejador</span>
			<span class="servicio">Empresa de reformas</span>
		</div>
	</div>
</div>
{% endblock content %}