<div class="row fondo-gris">
    <div class="container">
        <div class="col-lg-2">
            <ul>
                <li><a href="#">Albacete</a></li>
                <li><a href="#">Alicante/Alacant</a></li>
                <li><a href="#">Almería</a></li>
                <li><a href="#">Araba/Álava</a></li>
                <li><a href="#">Asturias</a></li>
                <li><a href="#">Ávila</a></li>
                <li><a href="#">Badajoz</a></li>
                <li><a href="#">Balears, Illes</a></li>
                <li><a href="#">Barcelona</a></li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul>
                <li><a href="#">Bizkaia</a></li>
                <li><a href="#">Burgos</a></li>
                <li><a href="#">Cáceres</a></li>
                <li><a href="#">Cádiz</a></li>
                <li><a href="#">Cantabria</a></li>
                <li><a href="#">Castellón/Castelló</a></li>
                <li><a href="#">Ciudad Real</a></li>
                <li><a href="#">Córdoba</a></li>
                <li><a href="#">Coruña, A</a></li>
            </ul>    
        </div>
        <div class="col-lg-2">
            <ul>
                <li><a href="#">Cuenca</a></li>
                <li><a href="#">Gipuzkoa</a></li>
                <li><a href="#">Girona</a></li>
                <li><a href="#">Granada</a></li>
                <li><a href="#">Guadalajara</a></li>
                <li><a href="#">Huelva</a></li>
                <li><a href="#">Huesca</a></li>
                <li><a href="#">Jaén</a></li>
                <li><a href="#">León</a></li>
            </ul>    
        </div>
        <div class="col-lg-2">
            <ul>
                <li><a href="#">Lleida</a></li>
                <li><a href="#">Lugo</a></li>
                <li><a href="#">Madrid</a></li>
                <li><a href="#">Málaga</a></li>
                <li><a href="#">Murcia</a></li>
                <li><a href="#">Navarra</a></li>
                <li><a href="#">Ourense</a></li>
                <li><a href="#">Palencia</a></li>
                <li><a href="#">Palmas, Las</a></li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul>
                <li><a href="#">Pontevedra</a></li>
                <li><a href="#">Rioja, La</a></li>
                <li><a href="#">Salamanca</a></li>
                <li><a href="#">Santa Cruz de Tenerife</a></li>
                <li><a href="#">Segovia</a></li>
                <li><a href="#">Sevilla</a></li>
                <li><a href="#">Soria</a></li>
                <li><a href="#">Tarragona</a></li>
                <li><a href="#">Teruel</a></li>
            </ul>    
        </div>
        <div class="col-lg-2">
            <ul>
                <li><a href="#">Toledo</a></li>
                <li><a href="#">Valencia/València</a></li>
                <li><a href="#">Valladolid</a></li>
                <li><a href="#">Zamora</a></li>
                <li><a href="#">Zaragoza</a></li>
                <li><a href="#">Ceuta</a></li>
                <li><a href="#">Melilla</a></li>
            </ul>    
        </div>
    </div>
</div>


Limpieza de hogar
Manitas
Fontanero
Electricista
Albañil
Pintor
Cristalero
Carpintero
Herrero
Jardinero
Portes y Mudanzas
Reparaciones
Aparejador