{% extends "correos/base/base.html" %}

{% block titulo %}Bienvenido a cuiquer{% endblock titulo %}

{% block content %}
    <p>Estimado colaborador,</p>
    <p>Muchas gracias por confiar en cuiquer. A partir de ahora, pondremos todo de nuestra parte para ayudarte a potenciar tu negocio.</p>
    <p>En breve empezarás a recibir solicitudes de servicios de las categorías que nos hayas indicado en el formulario.</p>
    <p>Sin embargo, para maximizar el número de solicitudes, te recomendamos que amplíes tu perfil siguiendo el siguiente enlace</p>

    <p><a href="{{enlace_actualizacion}}">{{enlace_actualizacion}}</a></p>
{% endblock content %}