{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block titulo %}{% endblock titulo %}</title>
    <link rel="stylesheet" href="{% static 'components/font-awesome/css/font-awesome.min.css' %}">
    {% include "correos/css.html" %}
</head>
<body>
    <table align="center" cellpadding="0" cellspacing="0" style="border: #eaeaea 1px solid;" width="600">
        <tbody>
        {% include "correos/base-cabecera.html" %}
        {% block content %}{% endblock content %}
        {% include "correos/base-pie.html" %}
        </tbody>
    </table>
</body>
</html>