@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300, 500');


body {
  font-family: 'Open Sans', 'Arial', serif;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}
p {
  font-family: 'Open Sans', 'Arial', serif;
  line-height: 1.2em;
  margin-bottom:20px;
  font-size: 16px;
  font-weight: 400;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
}
a {
  color: #333333;
}
a:hover, a:focus {
  color:#ff7900;
  text-decoration:none;

}
a img:hover, a img:focus {
  cursor: pointer;
}

a:hover .copyright{
  color: red;
}
blockquote {
  color: #777777;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
.navbar-custom {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid transparent;
}

/* MENU STICKY */
.menu-fixed.navbar-custom{
  background: #888;
}
.menu-fixed.navbar-custom .navbar-brand{
  height: 60px;
}
.menu-fixed .navbar-brand img{
  height: 50px
}
.menu-fixed .nav li a{
  padding: 20px 20px !important;
}

.carousel-inner{
  max-height: 450px;
}

.navbar-custom .navbar-brand {
  cursor: hand !important;
  font-weight: 800;
  height: 81px;
  padding:5px 15px;
}
.navbar-custom .navbar-header .navbar-toggle {
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    height: 81px;
    margin: 0px;
    padding: 0px 15px;
    border:0px;
}
.navbar-custom .text-menu{
  font-size: 14px;
  text-align: center;
  display: block;
  line-height: 0px;
  padding-top: 10px;
}

.navbar-custom .nav li a {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color:#fff;
  font-family: 'Lato';
}

.navbar-custom .nav li a:hover {
  background: transparent;
}

.navbar-custom .nav li:last-child a {
  border-bottom: #fff solid 0px;
}

.navbar-brand > img {
    display: block;
    height: 100%;
}

.imgCabecera img{
  width: 100%;
}

.lista-servicios{
   column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
}

.lista-servicios .categoria-servicio{
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    padding-bottom: 15px;
}

.ancla{
  height: 50px;
  margin-top: -50px;
  display: block;
}

.nota-obligatorio{
  margin-top: 20px;
}
.nota-obligatorio p{
  font-size: 13px;
}

@media only screen and (max-width: 767px) {
  .navbar-custom .nav li a {
    font-size: 16px;
    color: #fff;
    border-bottom: #fff solid 1px;
    width: 90%;
  }

  .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background-color: transparent !important;
    color:#ff7900 !important;
  }

  .navbar-custom .navbar-collapse, .navbar-custom .navbar-form {
      background: rgba(150,150,150,0.9) !important;
  }

  .panel.panel-image .panel-body {
      min-height: 170px;
  }

  /* MENU STICKY */
  .menu-fixed.navbar-custom{background: transparent;}
  .menu-fixed .navbar-header{ background: #888;}
  .menu-fixed .nav li a {padding:10px 20px;}
  .menu-fixed .navbar-header .navbar-toggle{
    height: 50px;
    font-size: 30px;
    padding-top: 5px;
  }
  .menu-fixed .text-menu {
      font-size: 11px;
  }
  /* // */

  .fooEmpresa, .fooClientes, .fooProfesionales {
    margin-bottom: 10px;
  }

  .boxFacebook{
    padding: 20px 0 0;
  }

  .boxNews > div{
    width: 340px;
    margin: 0 auto;
    float: none;
  }
  .carousel-text .row .site-heading {
      padding-top: 60px;
  }

  .lista-servicios{
     column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-custom .navbar-brand {
    color: white;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 30px 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }

  .site-heading span{
    display: block;
  }

  .slogan-servicios{
    width: 90%;
  }

}


@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}


.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 90px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  color: white;
  text-align: center;
}

.intro-header .site-heading p,
.intro-header .page-heading p {
  margin-top: 0;
  font-size: 60px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
}

.site-heading p span{
  display: block;
}

.btns-servicios h1.subheading,
.btns-servicios h1.subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 20px;
}

.btns-servicios.btn-interno{
  margin-top:50px;
}


@media only screen and (min-width: 768px) {
  .intro-header .site-heading p,
  .intro-header .page-heading p {
    font-size: 60px;
    font-weight: 600;
  }

  .intro-header .site-heading .btn,
  .intro-header .page-heading .btn {
    font-size: 20px;
    
  }
}


.intro-header .post-heading h2 {
  font-size: 35px;
}
.btns-servicios h1.subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.btns-servicios h1.subheading {
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading h2 {
    font-size: 55px;
  }
  .btns-servicios h1.subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #333333;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333333;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085A1;
  text-decoration: underline;
}


@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}


.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  padding: 50px 0 0;
  background: #666;
  border-top: #f5f5f5;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);
  color:#fff;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
  margin-right: 15px;
  color: white;
}



footer .container {
  padding-bottom: 20px;
}

footer .copy{
  padding:10px 0px;
  background: #FC9144;
}

footer .copy a{
  color:#fff;
}

footer .copy a:hover{
  color:#333;
}

footer a{
  color:#fff;
  font-family: 'Lato';
  font-weight: 300;
}

footer a:hover{
  color:#ff7900;
}

footer a .fa-stack.fa-lg i:not(.fa-circle){
  transform: rotate(0deg);
  transition: transform 0.4s ease-out 0.2s;
  color:#fff;
}

footer a .fa-stack.fa-lg:hover i:not(.fa-circle){
  transform: rotate(360deg);
  color:#fff;
}

footer a .fa-stack.fa-lg i.fa-circle{
  transition: color 0.4s ease-out 0.2s;
  color:#888;
}

footer a .fa-stack.fa-lg:hover i.fa-circle{
  color:#ff7900;
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085A1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
.btn {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #888;
  border: 1px solid #888;
  color: white;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

/* CUIQUER */

.naranja{
  color: #ff7900;
}

.gris{
  color:#696969;
}

.fondo-gris{
  background-color: #f9f9f9;
  color: #696969;
}

.container.ultimo{
  margin-bottom: 60px !important;
}

.fondo-gris.ultimo{
  margin-bottom: 0px !important;
}

header+.fondo-gris{
  margin-bottom: 50px;
  padding: 15px;
}

.intro-header+.container{
  margin-top:30px;
}

.caja.fondo-gris{
  margin: 60px 0px;
  padding: 90px 0px;
}

.seccion{
  display: inline-block;
  min-height: 140px;
}
.icono-seccion{
  padding: 15px 15px 0px 15px;
  max-width: 100px;
  width: 100%
}
.texto-seccion{
  display: block;
  font-size: 17px;
  color: #71716F;
  font-weight: 200;
  font-family: 'Open Sans', 'Arial', serif;
}

.seccion .efecto-seccion{
    width: 100px;
    height: 100px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
}

.seccion .fondo-seccion{
    background: rgba(255,121,0,0.3);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    transform: scale(0);
    z-index: -1;
    transition: transform 0.3s cubic-bezier(.47,0,.74,.71) 0.1s;

}

.seccion:hover .texto-seccion {
    color: #ff7900;
}

.seccion:hover .fondo-seccion{
    transform: scale(1);
}

/*.seccion:hover .fondo-seccion:after{
    width: 100px;
    height: 100px;
  }*/

.provincias > ul {
  list-style: none;
}

.provincias > ul > li > a {
  text-decoration: none;
}

.carousel-indicators li {
  background: #f9f9f9;
}

.carousel-indicators .active {
  background: #ff7900;
}

.testimonio  {
  padding: 10px;
  display: inline-block;
  border-radius: 200px;
  border-style: solid;
  margin-bottom: 20px;
}

.texto-testimonio p{
  font-family: 'Lato';
  font-weight: 300;
  font-size: 18px;
}

.texto-testimonio p span{
  font-family: 'Lato';
  font-weight: 400;
}

.cabecera{
  font-size: 40px;
  font-weight: 600;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-bottom: 30px;
  line-height: 50px;
}

.intro-header img:not(.home-slide) {
    width: auto;
    min-height: 90px;
    max-height: 200px;
}


.fondo-naranja{
  background-color: #ff7900;

}

.texto-footer{
  display: block;
  font-size: medium;
}

.copy a{
  cursor: pointer;
}

.modal-content {
    padding: 20px 50px;
}

.caja-datos-contacto{
  display: table;
}

.caja-datos-contacto .contacto{
  display: table-row;
  height: 40px;
}

.caja-datos-contacto .contacto a, .caja-datos-contacto .contacto i{
  display: table-cell;
  vertical-align: middle;
}

.contacto i {
    padding-right: 10px;
}

.contacto i.i-mail{
  font-size: 20px;
}

.contacto i.i-phone{
  font-size: 25px;
}

.contacto i.i-mobile{
  font-size: 38px;
  padding-right: 15px;
}

.formulario-contacto{
  margin-top: 15px;
  margin-bottom:30px;
}

.buscador{
  width: 50%;
  margin: 0 auto;
  float: none;
  padding-top: 30px;
}


.form-alta{
  margin-bottom: 10px;
}

.no-padding{
  padding-left:0px !important;
  padding-right:0px !important;
}

.margen-externo{
  margin-top:60px;
}

.margen-interno{
  margin-top:30px;
}

/* Slider */
#myCarousel{
  max-height:600px;
  overflow: hidden;
}

.carousel-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 450px;
    display: table;
    height: 100vh;
}

.carousel-text .row{
  display: table-row;
}

.carousel-text .row .site-heading{
  display: table-cell;
  vertical-align: middle;
}

.home-slide{
  width:100%;
}


/* PASOS */
.slogan-servicios {
    padding: 20px 20px 50px;
    font-size: 40px;
    width: 60%;
    color: #555;
    margin: 0 auto;
    font-weight: 600 !important;
}

.btns-servicios .btn {
    border-radius: 27px;
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: 700;
    background: #ff7900;
    border: 0px;
    transition: background 0.4s linear 0.1s;
    margin-bottom: 10px;
}

.btns-servicios .btn:hover {
    background: #888;
}

.panels .panel-item:first-child .panel-image {
    margin-top: 45px;
}
.row.panels+.row .panel{
  background-color: transparent;
}
.panel.panel-image {
    margin-bottom: 0;
    position: relative;
    display: block;
    text-decoration: none;
    display: block;
    border: 2px solid #eaedf2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 90px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.panel.panel-image:hover {
    text-decoration: none;
}

.panel.panel-image .panel-icon {
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -45px;
    text-align: center;
    line-height: 90px;
    width: 90px;
    height: 90px;
}

.panel.panel-image .panel-icon {
    -webkit-transition: top 300ms;
    -moz-transition: top 300ms;
    -o-transition: top 300ms;
    transition: top 300ms;
}

.panel.panel-image:hover .panel-icon {
    top: -43.2px;
}

.panel.panel-image .panel-heading {
    padding: 0;
    border: none;
    max-height: 125px;
    overflow: hidden;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

.panel.panel-image .panel-icon .icon {
  background-color: #ff7900;
  font-family: 'Open Sans', 'Arial', serif;
  border: 10px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 27px;
  line-height: 57px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.panel.panel-image .panel-body {
    border: 2px solid #eaedf2;
    padding-top: 5px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
}

.panel.panel-ventaja {
  box-shadow: none;
}

.panel.panel-image{
  background-color: transparent;
}

.panel.panel-ventaja .panel-body {
    border: 2px solid #eaedf2;
    padding-top: 5px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    margin: 60px auto 0px;
    background: #fff;
    width: 100%;
}


.panel.panel-image .panel-body {
    padding: 50px 30px 30px;
    min-height: 280px;
}

.panel.panel-image .panel-body .panel-title {
    margin: 20px 0px;
    color: #434955;
}

.panel.panel-image .panel-body .panel-title {
    font-weight: 500;
    font-size: 22px;
    margin: 0 0 20px 0;
}

.panel.panel-image .panel-body p {
    color: #676f7a;
    line-height: 22px;
    margin: 0;
}

.header{
  font-size: 36px;
  font-weight: 600;
}

.subheader{
  font-size: 26px;
}
.boxNews > div{
  border: 1px solid #ff7900;
  padding: 20px;
  background: #f5f5f5;
}

.boxNews > div > div p:first-child{
  text-transform: uppercase;
  color:#ff7900;
  margin-bottom:5px;
}

.boxNews .btnNews button{
  background: #ff7900;
  color:#fff;
  width: 100%
}

.boxFacebook{
  padding: 5px 0;
}

#page-empresa footer{
  margin-top:0px;
}

@media (min-width: 992px){
  .panel.panel-image:hover .panel-icon {
      top: -54px;
  }

  .panels .panel-title {
    min-height: 50px;
  }

  .panel.panel-image .panel-body{
    min-height: 240px;
  }
}
@media (min-width: 768px){
  .navbar-brand {
    padding:15px;
  }

  .panel.panel-image {
      margin-top: 45px;
  }

  .img-responsive-sm {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .panels .panel-title {
    min-height: 50px;
  }
  .panel.panel-image.panel-body{
      min-height: 280px;
    }
}

@media (max-width: 767px){
  .panel.panel-image .panel-body {
      min-height: 170px;}
    .imgCabecera img {
      width: 150%;
      max-width: 150%;
    }
  .carousel-text{
    height: 40vh;
  }
}

@media (max-width: 640px){
  .intro-header .site-heading p, .intro-header .page-heading p {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .carousel-text .row .site-heading {
    padding-top: 20px;
  }
}

@media (max-width: 480px){
  
  .btns-servicios .btn{
    margin-bottom: 10px;
  }

  .seccion{
    width: 50%;
  }

  .slogan-servicios {
    width: 100%;
  }

  .imgCabecera img {
    width: 200%;
    max-width: 200%;
  }

  .imgCabecera img {
    width: 260%;
    max-width: 260%;
  }

  .lista-servicios{
     column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
}
@media (max-width: 450px){
  footer .container > div{
    width:100%;
  }

    .intro-header .site-heading p, .intro-header .page-heading h2{
      display: none;
    }

  .carousel-text .row .site-heading {
    padding-top: 0px;
  }
}

@media (max-width: 360px){
  .slogan-servicios {
    padding: 0px 0px 20px;
    width:100%;
  }
}

/** MODIFICACION DEL CONTAINER **/
@media (min-width: 1200px){
  .container{
    width: 1100px;
  }
}

.servicio-box{
  padding: 10px;
  display: inline-block;
}
.servicio-categoria{
    font-weight: 600;
    font-size: 22px;

}
.servicio{
  display: block;
  font-size: 15px;
}

.servicio-box .servicio {
    font-size: 14px;
}

.boton-alta{
  margin-top: 15px;
}

.categoria{
  display: block;
  font-weight: 600;
}