{% extends "landing/legal/legal.html" %}

{% block content %}
<div class="justificado">
	<h2 class="naranja">Cookies</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, amet molestiae eligendi architecto molestias non harum vero nisi dolores repellendus iusto ut magni. Eum sapiente facere suscipit quia voluptate facilis.<p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda similique aspernatur debitis eum fugiat culpa, qui doloribus dolore deleniti tempora cupiditate temporibus ea consequatur, in voluptates asperiores ut ipsam, recusandae!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, amet molestiae eligendi architecto molestias non harum vero nisi dolores repellendus iusto ut magni. Eum sapiente facere suscipit quia voluptate facilis.<p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda similique aspernatur debitis eum fugiat culpa, qui doloribus dolore deleniti tempora cupiditate temporibus ea consequatur, in voluptates asperiores ut ipsam, recusandae!</p>
</div>
{% endblock content %}