<app-upsell
   reset-timeout-duration="4000">
   <div class="AppUpsell"
      responsive-image
      responsive-grid="page"
      uses-densities
      above-sm="{
      '1x': 'https://static1.thumbtackstatic.com/_assets/images/release/modules/app-upsell/images/appupsell-bg-1x-56aa6732.jpg',
      '2x': 'https://static3.thumbtackstatic.com/_assets/images/release/modules/app-upsell/images/appupsell-bg-2x-e8c738a7.jpg'
      }"
      below-sm="false">
      <div class="page-grid">
         <div class="column-lg-3 column-sm-6">
            <h3 class="AppUpsell-title H3-R">Get more done anytime, anywhere</h3>
            <p class="AppUpsell-text T2-S theme-secondary">Send project requests, get quotes, and hire the right pro with the free Thumbtack app for iPhone.</p>
            <div class="AppUpsell-inputButtonCombo" ng-cloak>
               <input
                  type="text"
                  name="cellphone"
                  placeholder="Phone number"
                  ng-model="$parent.phoneNumber" />
               <button
                  type="submit"
                  class="Button"
                  aura-track="home page/clicked text me a link"
                  aura-track-on="click"
                  ng-bind="transmissionStatus || 'Text me a link'"
                  ng-click="send()">
               </button>
            </div>
            <p class="T3-S AppUpsell-helper">
               <a href="https://itunes.apple.com/us/app/thumbtack-accomplish-your/id852703300">
               <img src="https://static1.thumbtackstatic.com/_assets/images/release/globals/images/ios-app-store-download-8ee9e8ac.png" />
               </a>
            </p>
         </div>
      </div>
   </div>
</app-upsell> 