<category-nav>
   <nav class="CategoryNav">
      <ul class="CategoryNav-list">
         <li class="CategoryNav-item">
            <a href="/events"
               aura-track="home page/clicked meta category"
               aura-track-on="click"
               aura-track-data="{ category_type: 'events' }">
               <aura-icon type="events" size="lg" class="CategoryNav-item-iconLg">
               </aura-icon>
               <aura-icon type="events" size="md" class="CategoryNav-item-iconMd">
               </aura-icon>
               <span class="T2-S CategoryNav-item-label">Events</span>
            </a>
         </li>
         <li class="CategoryNav-item">
            <a href="/home-improvement"
               aura-track="home page/clicked meta category"
               aura-track-on="click"
               aura-track-data="{ category_type: 'home' }">
               <aura-icon type="home" size="lg" class="CategoryNav-item-iconLg">
               </aura-icon>
               <aura-icon type="home" size="md" class="CategoryNav-item-iconMd">
               </aura-icon>
               <span class="T2-S CategoryNav-item-label">Home</span>
            </a>
         </li>
         <li class="CategoryNav-item">
            <a href="/lessons"
               aura-track="home page/clicked meta category"
               aura-track-on="click"
               aura-track-data="{ category_type: 'lessons' }">
               <aura-icon type="lessons" size="lg" class="CategoryNav-item-iconLg">
               </aura-icon>
               <aura-icon type="lessons" size="md" class="CategoryNav-item-iconMd">
               </aura-icon>
               <span class="T2-S CategoryNav-item-label">Lessons</span>
            </a>
         </li>
         <li class="CategoryNav-item">
            <a href="/wellness"
               aura-track="home page/clicked meta category"
               aura-track-on="click"
               aura-track-data="{ category_type: 'wellness' }">
               <aura-icon type="wellness" size="lg" class="CategoryNav-item-iconLg">
               </aura-icon>
               <aura-icon type="wellness" size="md" class="CategoryNav-item-iconMd">
               </aura-icon>
               <span class="T2-S CategoryNav-item-label">Wellness</span>
            </a>
         </li>
         <li class="CategoryNav-item">
            <a href="/more-services"
               aura-track="home page/clicked meta category"
               aura-track-on="click"
               aura-track-data="{ category_type: 'more' }">
               <aura-icon type="more" size="lg" class="CategoryNav-item-iconLg">
               </aura-icon>
               <aura-icon type="more" size="md" class="CategoryNav-item-iconMd">
               </aura-icon>
               <span class="T2-S CategoryNav-item-label">More</span>
            </a>
         </li>
      </ul>
   </nav>
</category-nav>   