<customer-stories>
   <div class="CustomerStories">
      <div class="page-grid">
         <div class="column-lg-6">
            <h2 class="CustomerStories-headline H2-R">Customers use Thumbtack to get millions of projects done quickly and easily</h2>
         </div>
      </div>
      <div class="page-grid CustomerStories-outerWrapper">
         <div class="column-lg-2 CustomerStories-innerWrapper">
            <a href="https://www.thumbtack.com/blog/finding-an-engagement-photographer-on-thumbtack/" class="CustomerStory"
               aura-track="home page/clicked customer story"
               aura-track-on="click"
               aura-track-data="{ story_type: 'amanda' }">
               <div class="CustomerStory-figure"
                  style="background-image: url(https://static8.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/customer-stories/images/amanda-2fa7c886.jpg)">
                  <div class="CustomerStory-heading">
                     <h3 class="H4-R CustomerStory-headingCaption">
                        Amanda hired a photographer
                     </h3>
                  </div>
               </div>
               <div class="CustomerStory-content">
                  <cite class="CustomerStory-content-description B2-S theme-secondary">
                  “<strong>Mickey</strong> is incredibly talented, worked within our budget and gave us GREAT results for the price. He's an awesome guy, and we couldn't be happier with how our engagement photos turned out.”
                  </cite>
                  <div class="CustomerStory-pro">
                     <img src="https://static8.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/customer-stories/images/pro-mickey-76701e1b.jpg"
                        class="CustomerStory-pro-image">
                     <div class="CustomerStory-pro-content">
                        <h5 class="T4-S theme-secondary CustomerStory-pro-label">
                           The pro
                        </h5>
                        <h4 class="T2-S">Mickey Strider</h4>
                        <span aura-star-rating
                           aura-star-rating-bind="4.7">
                        </span>
                        <span class="B3-S">
                        (20 reviews)
                        </span>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="column-lg-2 CustomerStories-innerWrapper">
            <a href="https://www.thumbtack.com/blog/finding-your-voice-on-thumbtack/" class="CustomerStory"
               aura-track="home page/clicked customer story"
               aura-track-on="click"
               aura-track-data="{ story_type: 'gurpreet' }">
               <div class="CustomerStory-figure"
                  style="background-image: url(https://static1.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/customer-stories/images/gurpreet-e04a1d83.jpg)">
                  <div class="CustomerStory-heading">
                     <h3 class="H4-R CustomerStory-headingCaption">
                        Guprit hired a singing teacher
                     </h3>
                  </div>
               </div>
               <div class="CustomerStory-content">
                  <cite class="CustomerStory-content-description B2-S theme-secondary">
                  “It was an honor learning from <strong>Sam</strong>. He is an amazing singer and teacher! I saw major improvements in my voice, breathing and vocal dynamics; connecting with songs at a level I didn't know existed.”
                  </cite>
                  <div class="CustomerStory-pro">
                     <img src="https://static4.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/customer-stories/images/pro-sam-da0071d9.jpg"
                        class="CustomerStory-pro-image">
                     <div class="CustomerStory-pro-content">
                        <h5 class="T4-S theme-secondary CustomerStory-pro-label">
                           The pro
                        </h5>
                        <h4 class="T2-S">Sam Shin</h4>
                        <span aura-star-rating
                           aura-star-rating-bind="4.7">
                        </span>
                        <span class="B3-S">
                        (32 reviews)
                        </span>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="column-lg-2 CustomerStories-innerWrapper">
            <a href="https://www.thumbtack.com/blog/thumbtack-artists-mural-supports-colorado-river-at-colfax-whole-foods/" class="CustomerStory"
               aura-track="home page/clicked customer story"
               aura-track-on="click"
               aura-track-data="{ story_type: 'sarah' }">
               <div class="CustomerStory-figure"
                  style="background-image: url(https://static5.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/customer-stories/images/sarah-b78df6e9.jpg)">
                  <div class="CustomerStory-heading">
                     <h3 class="H4-R CustomerStory-headingCaption">
                        Sarah hired a mural painter
                     </h3>
                  </div>
               </div>
               <div class="CustomerStory-content">
                  <cite class="CustomerStory-content-description B2-S theme-secondary">
                  “<strong>Gary</strong> was friendly, professional, and his work was incredible. He helped us create a design we loved within our budget. Whole Foods customers say how much the mural brightens our space!”
                  </cite>
                  <div class="CustomerStory-pro">
                     <img src="https://static2.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/customer-stories/images/pro-gary-85649e63.jpg"
                        class="CustomerStory-pro-image">
                     <div class="CustomerStory-pro-content">
                        <h5 class="T4-S theme-secondary CustomerStory-pro-label">
                           The pro
                        </h5>
                        <h4 class="T2-S">Gary Gomez</h4>
                        <span aura-star-rating
                           aura-star-rating-bind="4.7">
                        </span>
                        <span class="B3-S">
                        (26 reviews)
                        </span>
                     </div>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
</customer-stories>