<about-thumbtack>
   <div class="AboutThumbtack">
      <div class="page-grid">
         <div class="column-lg-6">
            <h2 class="AboutThumbtack-headline H2-R">Contratar al profesional ideal nunca había sido tan fácil.</h2>
         </div>
      </div>
      <div class="page-grid AboutThumbtack-wrapper">
         <div class="AboutThumbtack-image column-lg-3">
            <img id="demo-image-tag"
               responsive-image
               responsive-grid="page"
               uses-densities
               above-md="{
               '1x': 'https://static4.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/about-thumbtack/images/how-to-1x-4ccfe4e4.png',
               '2x': 'https://static5.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/about-thumbtack/images/how-to-2x-6d720865.png'
               }"
               below-md="{
               '1x': 'https://static4.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/about-thumbtack/images/how-to-1x-4ccfe4e4.png',
               '2x': 'https://static5.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/about-thumbtack/images/how-to-2x-6d720865.png'
               }" />
         </div>
         <div class="AboutThumbtack-content column-lg-3">
            <h3 class="AboutThumbtack-stepTitle H4-R">1. Cuéntanos que proyecto tienes en mente.</h3>
            <p class="AboutThumbtack-stepText B2-S">Con la ayuda de un par de preguntas tendremos una mejor idea del profesional que buscas.</p>
            <h3 class="AboutThumbtack-stepTitle H4-R">2. Revisa distintas ofertas sin compromiso.</h3>
            <p class="AboutThumbtack-stepText B2-S">En unas horas recibirás un hasta 3 ofertas de profesionales cuyo perfil y oferta se ajusta a tus necesidades.</p>
            <h3 class="AboutThumbtack-stepTitle H4-R">3. Contrata el profesional ideal</h3>
            <p class="AboutThumbtack-stepText B2-S">Compara las ofertas, los perfiles, consulta cualquier pregunta que tengas... y contrata al profesional que mejor se adapta a ti.</p>
         </div>
      </div>
   </div>
</about-thumbtack>