 <div global-header class="glorious-header theme-inverse-overlay
          GlobalHeader"
          data-section="header">
          <div class="wrapper">
             <div class="row header-row">
                <div class="header-logo">
                   <a href="/">
                      <aura-icon type="thumbtack-logo_178x28" alt="Thumbtack"></aura-icon>
                      <img class="GlobalHeader-fallbackLogo"
                         src="https://static1.thumbtackstatic.com/media/logos/thumbtack_brand_152x24.svg"
                         width="152" height="24" alt="Thumbtack">
                   </a>
                </div>
                <div class="header-navigation "><a href="/pro" rel="nofollow"
                   aura-track="home page/clicked join as a pro"
                   aura-track-on="click"
                   class="gray-link">Join as a Pro</a><a href="/choose-account" rel="nofollow"
                   aura-track="home page/clicked sign up"
                   aura-track-on="click"
                   class="gray-link">Sign Up</a><a href="/login" rel="nofollow"
                   aura-track="home page/clicked log in"
                   aura-track-on="click"
                   class="gray-link log-in-link">Log In</a></div>
             </div>
          </div>
          <input type="checkbox" id="mobile-navigation-toggle" class="mobile-navigation-toggle">
          <label for="mobile-navigation-toggle" class="mobile-navigation-trigger">
             <aura-icon class="GlobalHeader-down" type="hamburger" size="md"></aura-icon>
             <aura-icon class="GlobalHeader-up" type="close" size="md"></aura-icon>
          </label>
          <div class="glorious-navigation-wrapper
             ">
             <div class="glorious-navigation
                column-lg-6 ">
                <div class="wrapper browse-wrapper empty-default" data-browse-container>
                   <ul class="navigation-row">
                      <li class="mobile-navigation-item GlobalHeader-loginLink"><a href="/pro" rel="nofollow"
                         aura-track="home page/clicked join as a pro"
                         aura-track-on="click">Join as a Pro</a></li>
                      <li class="mobile-navigation-item GlobalHeader-loginLink"><a href="/choose-account" rel="nofollow"
                         aura-track="home page/clicked sign up"
                         aura-track-on="click">Sign Up</a></li>
                      <li class="mobile-navigation-item GlobalHeader-loginLink"><a href="/login" rel="nofollow"
                         aura-track="home page/clicked log in"
                         aura-track-on="click">Log In</a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
       <ul class="CategoryNavigation page-grid theme-inverse-overlay">
          <div class="column-lg-6"><a aura-track="home page/clicked meta category"
             aura-track-on="click"
             aura-track-data="{ category_type: 'home' }"
             href="/home-improvement">Home</a><a aura-track="home page/clicked meta category"
             aura-track-on="click"
             aura-track-data="{ category_type: 'events' }"
             href="/events">Events</a><a aura-track="home page/clicked meta category"
             aura-track-on="click"
             aura-track-data="{ category_type: 'lessons' }"
             href="/lessons">Lessons</a><a aura-track="home page/clicked meta category"
             aura-track-on="click"
             aura-track-data="{ category_type: 'wellness' }"
             href="/wellness">Wellness</a><a aura-track="home page/clicked meta category"
             aura-track-on="click"
             aura-track-data="{ category_type: 'more' }"
             href="/more-services">More</a></div>
       </ul>
       {% comment %}
         
       <link rel="stylesheet" type="text/css"
          href="https://static2.thumbtackstatic.com/_assets/styles/release/legacy-css/thumbprint/core-60f9541d.css.gz" />
       <link rel="stylesheet" type="text/css"
          href="https://static2.thumbtackstatic.com/_assets/styles/release/legacy-css/thumbprint/core/fonts/full-097c0af8.css.gz" />
       <link rel="stylesheet" type="text/css"
          href="https://static7.thumbtackstatic.com/_assets/styles/release/pages/homepage/styles/homepage-a632c759.css.gz" />
       {% endcomment %}
       <div class="Homepage">
          <div viewport-element="hero">
             <hero
                class="Hero theme-large"
                responsive-image
                responsive-grid="page"
                uses-densities
                above-md="{
                '1x': '            https://static8.thumbtackstatic.com/_assets/images/release/modules/hero-create-request/images/home-hero-lg-1x-0ee410ad.jpg
                ',
                '2x': '            https://static7.thumbtackstatic.com/_assets/images/release/modules/hero-create-request/images/home-hero-lg-2x-b76c3abd.jpg
                '
                }"
                above-sm-below-md="{
                '1x': '            https://static8.thumbtackstatic.com/_assets/images/release/modules/hero-create-request/images/home-hero-lg-1x-0ee410ad.jpg
                ',
                '2x': '            https://static7.thumbtackstatic.com/_assets/images/release/modules/hero-create-request/images/home-hero-lg-2x-b76c3abd.jpg
                '
                }"
                below-sm="{
                '1x': '            https://static1.thumbtackstatic.com/_assets/images/release/modules/hero-create-request/images/home-hero-sm-1x-8533e718.jpg
                ',
                '2x': '            https://static5.thumbtackstatic.com/_assets/images/release/modules/hero-create-request/images/home-hero-sm-2x-8239e5c6.jpg
                '
                }"
                >
                <div class="Hero-tint"></div>
                <div class="page-grid Hero-grid">
                   <div class="Hero-content">
                      <div class="column-lg-6">
                         <h1 class="H1-R Hero-content-title">
                            Cuiquer. Dicho y Hecho.
                         </h1>
                      </div>
                      <div class="column-lg-4">
                         <h4 class="H4-R Hero-content-subtitle">
                          Desde jardineros hasta entrenadores personales. 
                          Disfruta del verano mientras nosotros encontramos el profesional ideal para cualquier proyecto que tengas en mente.
                         </h4>
                      </div>
                      <div class="column-lg-4 column-md-6">
                         <div class="Hero-content-cta">
                            <div class="SearchForm theme-default">
                               <form open-request-form-modal
                                  from-homepage="1"
                                  hide-intro-screen=""
                                  ng-init="$main_search_form = {}"
                                  ng-submit="openModalWithCategory($main_search_form.query, $main_search_form.zipCode)"
                                  class="SearchForm-form">
                                  <div responsive-if="above-sm" responsive-grid="page" ng-cloak>
                                     <div class="InputButtonGroup SearchForm-inputGroup ">
                                        <span class="InputButtonGroup-item SearchForm-form-query"
                                           aura-hercule-typeahead
                                           hercule-root-url="https://hercule.thumbtack.io"
                                           hercule-version="2"
                                           page-type="HP"
                                           form-name="main_search_form"
                                           >
                                        <input class="query"
                                           required
                                           autocomplete="off"
                                           placeholder="What service do you need?"
                                           type="text"
                                           ng-model="$main_search_form.query"
                                           aura-track="home page/start service query"
                                           aura-track-on="keypress"
                                           aura-track-data="{
                                           pageType: 'HP',
                                           formName: 'main_search_form',
                                           }"
                                           aura-track-once
                                           />
                                        </span>
                                        <button class="SearchForm-form-submitBtn Button theme-large"
                                           type="submit"
                                           aura-track="hercule/click get started"
                                           aura-track-on="click"
                                           aura-track-data="{
                                           pageType: 'HP',
                                           formName: 'main_search_form',
                                           }">
                                        Get Started
                                        </button>
                                     </div>
                                  </div>
                                  <div responsive-if="below-sm" responsive-grid="page" ng-cloak>
                                     <div class="InputButtonGroup SearchForm-inputGroup SearchForm-inputGroup-textInput">
                                        <span class="InputButtonGroup-item SearchForm-form-query"
                                           aura-hercule-typeahead
                                           hercule-root-url="https://hercule.thumbtack.io"
                                           hercule-version="2"
                                           page-type="HP"
                                           form-name="main_search_form"
                                           >
                                        <input class="query"
                                           required
                                           autocomplete="off"
                                           placeholder="What service do you need?"
                                           type="text"
                                           ng-model="$main_search_form.query"
                                           aura-track="home page/start service query"
                                           aura-track-on="keypress"
                                           aura-track-data="{
                                           pageType: 'HP',
                                           formName: 'main_search_form',
                                           }"
                                           aura-track-once
                                           />
                                        </span>
                                     </div>
                                     <div class="InputButtonGroup SearchForm-inputGroup">
                                        <button class="SearchForm-form-submitBtn Button theme-large"
                                           type="submit"
                                           aura-track="hercule/click get started"
                                           aura-track-on="click"
                                           aura-track-data="{
                                           pageType: 'HP',
                                           formName: 'main_search_form',
                                           }">
                                        Get Started
                                        </button>
                                     </div>
                                  </div>
                               </form>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </hero>
          </div>