<testimonial-videos>
   <div class="TestimonialVideos">
      <div class="page-grid">
         <div class="column-lg-6">
            <h2 class="TestimonialVideos-headline H2-R">Thousands of professionals are growing their businesses with Thumbtack</h2>
         </div>
      </div>
      <div class="page-grid">
         <div class="column-lg-4">
            <a href="#"
               class="TestimonialVideo-link TestimonialVideo-linkHighlight"
               style="background-image: url(https://static1.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/testimonial-videos/images/sara-3e60bf01.jpg)"
               aura-track="home page/clicked pro stories"
               aura-track-on="click"
               open-youtube-modal
               youtube-autoplay
               youtube-id="bruu4u_Z-SY">
               <span class="TestimonialVideo-play">
                  <aura-icon type="play_10x10"></aura-icon>
               </span>
               <div class="TestimonialVideo-wrapper">
                  <h3 class="TestimonialVideo-title H4-R">Sara</h3>
                  <span class="TestimonialVideo-description B2-S">
                  Chef · Brooklyn, NY
                  </span>
               </div>
            </a>
         </div>
         <div class="column-lg-2">
            <a href="#" class="TestimonialVideo-link"
               style="background-image: url(https://static4.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/testimonial-videos/images/richard-2d596554.jpg)"
               aura-track="home page/clicked pro stories"
               aura-track-on="click"
               open-youtube-modal
               youtube-autoplay
               youtube-id="jiDNg8Ichgk">
               <span class="TestimonialVideo-play">
                  <aura-icon type="play_10x10"></aura-icon>
               </span>
               <div class="TestimonialVideo-wrapper">
                  <h3 class="TestimonialVideo-title H4-R">Richard</h3>
                  <span class="TestimonialVideo-description B2-S">
                  Photographer · Bronx, NY
                  </span>
               </div>
            </a>
            <a href="#" class="TestimonialVideo-link"
               style="background-image: url(https://static1.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/testimonial-videos/images/katie-cd576b4e.jpg)"
               aura-track="home page/clicked pro stories"
               aura-track-on="click"
               open-youtube-modal
               youtube-autoplay
               youtube-id="4NmVC8Wpxgs">
               <span class="TestimonialVideo-play">
                  <aura-icon type="play_10x10"></aura-icon>
               </span>
               <div class="TestimonialVideo-wrapper">
                  <h3 class="TestimonialVideo-title H4-R">Kate</h3>
                  <span class="TestimonialVideo-description B2-S">
                  Pet Sitter · Bradenton, FL
                  </span>
               </div>
            </a>
         </div>
      </div>
      <div class="page-grid">
         <div class="column-lg-2">
            <a href="#" class="TestimonialVideo-link"
               style="background-image: url(https://static3.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/testimonial-videos/images/bonnie-86155b0d.jpg)"
               aura-track="home page/clicked pro stories"
               aura-track-on="click"
               open-youtube-modal
               youtube-autoplay
               youtube-id="_3NsbqnjNxU">
               <span class="TestimonialVideo-play">
                  <aura-icon type="play_10x10"></aura-icon>
               </span>
               <div class="TestimonialVideo-wrapper">
                  <h3 class="TestimonialVideo-title H4-R">Bonnie</h3>
                  <span class="TestimonialVideo-description B2-S">
                  Tutor · Houston, TX
                  </span>
               </div>
            </a>
         </div>
         <div class="column-lg-2">
            <a href="#" class="TestimonialVideo-link"
               style="background-image: url(https://static2.thumbtackstatic.com/_assets/images/release/pages/homepage/submodules/testimonial-videos/images/eric-7d68e969.jpg)"
               aura-track="home page/clicked pro stories"
               aura-track-on="click"
               open-youtube-modal
               youtube-autoplay
               youtube-id="aMJaW5eLsis">
               <span class="TestimonialVideo-play">
                  <aura-icon type="play_10x10"></aura-icon>
               </span>
               <div class="TestimonialVideo-wrapper">
                  <h3 class="TestimonialVideo-title H4-R">Eric</h3>
                  <span class="TestimonialVideo-description B2-S">
                  Locksmith · Phoenix, AZ
                  </span>
               </div>
            </a>
         </div>
         <div class="column-lg-2">
            <div class="GreyBox">
               <h3 class="T1-R theme-secondary GreyBox-title">Are you a professional looking for new customers?</h3>
               <a class="Button theme-medium" href="/pro">Sign Up</a>
            </div>
         </div>
      </div>
   </div>
</testimonial-videos>