<style type="text/css">
    p{
        font-family: arial,  helvetica, sans-serif;
        font-size: 14px;
        color: #666666;
    }
    
    a:link {
        color: #046380;
        text-decoration: none;
    }
    
    a:visited {
        color: #A7A37E;
        text-decoration: none;
    }
    
    a:hover {
        color: #002F2F;
        text-decoration: underline;
    }
    
    a:active {
        color: #046380;
        text-decoration: none;
    }
    
    .imagen-cabecera{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .texto-pequeno{
        font-size:12px;
    }

    .centrado{
        text-align: center;
    }
    .red-social{
        margin: 6px;
    }
    .pie{
        width:94%; 
        margin-left:3%; 
        margin-right:3%;
        margin-top: 20px;
        border-top: #666666 1px solid;
        
    }
</style>