{% extends "landing/index.html" %}
{% load staticfiles %}

{% block slider %}
<header class="intro-header">
    <img class="img-responsive" src="{% static 'img/cabeceras/registro-profesionales.jpg' %}" alt="Ofrecer servicio">
</header>
{% endblock slider %}

{% block content %}
   <div class="container margen-externo ultimo">
   	<div class="row">
   		<div class="col-xs-12 text-center">
   			<h1 class="header text-uppercase naranja">Página no encontrada</h1>
   		</div>
   		<div class="col-xs-12 text-center">
   			<img class="img-responsive" src="{% static 'img/error404.png' %}" alt="Página no encontrada">
   		</div>
   	</div>
   	<div class="row">
   		<div class="col-xs-12 text-center">
   			<h4>Lo sentimos, la página a la que intentabas acceder no existe o se encuentra en mantenimiento.</h4>
   			<p class="margen-interno">Puedes ponerte en contato con nosotros en <a href="mailto:hello@cuiquer.com"> hello@cuiquer.com</a> para cualquier duda
        	<span class="nuevalinea">o si lo desea puede rellenar el formulario en la sección <a href="{% url 'contacto' %}#contactanos">contacto</a>.</span></p>
   		</div>
   	</div>
   </div>
{% endblock content %}
