{% extends "landing/index.html" %}
{% load staticfiles %}

{% block slider %}
<header class="intro-header">
    <img class="img-responsive" src="{% static 'img/cabeceras/registro-profesionales.jpg' %}" alt="Ofrecer servicio">
</header>
{% endblock slider %}


{% block content %}
    <div class="container margen-externo ultimo">
   	<div class="row">
   		<div class="col-xs-12 text-center">
   			<h1 class="header text-uppercase naranja">Hubo un error inesperado</h1>
   		</div>
   		<div class="col-xs-12 text-center">
   			<img class="img-responsive" src="{% static 'img/error500.png' %}" alt="Página no encontrada">
   		</div>
   	</div>
   	<div class="row">
      <div class="col-xs-12 text-center">
        <h4>Hubo un error inesperado.</h4>
      </div>
    </div>
   </div>
{% endblock content %}
